* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  transition: 0.3s;
  user-select: none;
}

/* .bg {
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: -1;
  width: 100%;
  height: 100%;
  filter: blur(10px);
} */

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  min-width: 100vw;
  padding: 0px 10%;
  /* background-image: linear-gradient(
    to right top,
    #0f0c29,
    #131433,
    #19193e,
    #1f1e49,
    #262454,
    #282656,
    #2a2858,
    #2c2a5a,
    #2a2953,
    #28274c,
    #262645,
    #24243e
  ); */
  /* overflow: hidden;
  background-attachment: fixed; */
  background: #080808de;
}

.search-bar {
  position: absolute;
  top: 5%;
  left: 35%;
  transform: translate(25%, 15%);
  justify-content: center;
  height: 55px;
  display: flex;
  cursor: pointer;
  padding: 10px 20px;
  background: #131313a1;
  border-radius: 15px;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.search-bar input {
  padding: 10px;
  color: #fff;
  width: 35.313rem;
  outline: none;
  border: none;
  font-weight: 500;
  background: transparent;
}

.search-bar a .fa {
  color: #fff;
}

.search-bar a .fa:hover {
  color: #2abd25;
}

.main-logo {
  width: 200px;
  position: absolute;
  top: -50px;
  left: 20px;
  cursor: pointer;
}

.btn {
  background: #2abd25;
  color: #fff;
  font-size: 16px;
  padding: 16px 30px;
  border-radius: 30px;
  border: 0;
  outline: 0;
  cursor: pointer;
}

.content {
  margin: 15% auto 0;
}
.content h1 {
  letter-spacing: 2px;
  color: #fff;
  font-size: 65px;
  font-weight: 400;
}

.content h1 span {
  font-weight: 700;
  background: linear-gradient(to bottom, transparent 60%, #2abd25 40%);
  border-radius: 10px;
}

form {
  width: 90%;
  max-width: 600px;
  height: 50px;
  background: #fff;
  margin: auto;
  display: flex;
  align-items: center;
  border-radius: 40px;
  margin-top: 40px;
  margin-bottom: 20px;
}

form input {
  flex: 1;
  padding: 20px 30px;
  font-size: 16px;
  border: 0;
  outline: 0;
  background: transparent;
}

form input::placeholder {
  font-size: 16px;
}

form .btn {
  padding: 0;
  width: 150px;
  height: 50px;
  border-radius: 31px;
}

#Ara-Ara-msg {
  display: flex;
  justify-content: center;
  color: green;
}

.login {
  position: absolute;
  top: 5%;
  left: 85%;
  transform: translate(25%, 15%);
  justify-content: center;
  height: 55px;
  display: flex;
  cursor: pointer;
  padding: 10px 20px;
  background: #131313a1;
  border-radius: 15px;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.login a {
  margin: 1%;
  color: #fff;
  margin: 10px;
}
.login a:hover {
  color: #2abd25;
}

.angles {
  position: absolute;
  top: 5%;
  left: 15%;
  transform: translate(25%, 15%);
  justify-content: center;
  height: 55px;
  display: flex;
  cursor: pointer;
  padding: 10px 20px;
  background: #131313a1;
  border-radius: 15px;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
.angles a li > .child-angles,
.child {
  color: #fff;
  margin: 5px;
}
.angles a li > .child-angles,
.child:hover {
  color: #2abd25;
}

.angles > .child-angles > a {
  color: #fff;
}

.angles > .child-angles > a:hover {
  color: #2abd25;
}

.angles > .child > a {
  color: #fff;
}

.angles > .child > a:hover {
  color: #2abd25;
}
